/* https://github.com/Alexays/Waybar/wiki/Styling */

/* Colors from Matugen */

@import "colors.css";

/* Waybar */

window#waybar {
    background-color: transparent;
    color: @on_background;
    font: 14px "Fira Sans Semibold", "Symbols Nerd Font Mono";
}

/* Modules */
.modules-left {
    margin: 0.4rem 0.2rem;
}
.modules-center {
    margin: 0.4rem 0.2rem;
}
.modules-right {
    margin: 0.4rem 0.2rem;
}

#clock,
#workspaces,
#window,
#wireplumber,
#network,
#hardware,
#cpu,
#memory,
#disk,
#custom-power {
    background-color: @background;
    border-radius: 6px;
    padding: 0 0.8rem;
    margin: 0 0.2rem;
    border: 2px solid @outline;
}

/* Workspaces */

#workspaces {
    padding: 0;
}
#workspaces label {
    color: @on_background;
}
#workspaces button.active {
    background-color: @surface_bright;
}

/* Window */

window#waybar.empty #window {
    opacity: 0;
}

#hardware {
    padding: 0;
}
#cpu,
#memory,
#disk {
    margin: 0;
    border: none;
    background-color: transparent;
}
